name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug working directory
        run: |
          pwd
          ls -la
          
      - name: Inject .env file
        run: cp /home/overjjang/env/gaolV2.env .env

      - name: Set up Python venv and install dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Restart app with PM2
        run: |
          pm2 restart gaolV2 || pm2 start venv/bin/python --name gaolV2 -- app.py
